@page "/inventory"
@using Models

<h3>Inventory</h3>



<div class="w-100 row">


    <!-- ========= Left part ========= -->
    <div class="col-md-6">

    </div>

    <!-- ========= Right part ========= -->
    <div class="col-md-6">
        <DataGrid TItem="Item"
                  Data="@items"
                  ReadData="@OnReadData"
                  TotalItems="@totalItem"
                  PageSize="10"
                  ShowPager
                  Responsive>
            <DataGridColumn TItem="Item" Field="@nameof(Item.Id)" Caption="Items">
                <DisplayTemplate>
                    <ItemWithImg Item="context" />
                </DisplayTemplate>
            </DataGridColumn>
        </DataGrid>
    </div>



</div>


